html, body {
    max-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 2.5rem;
    min-height: 100vh;
  }

  header {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding-top: 2.5rem;
    position: relative;
    bottom: 2.5rem;
    height: auto;
    max-height: 50%;
  }
  
  body {
    background-color: #2F4F4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 62.5%;
    gap: 1.5rem;
    border: 0.5rem double #d4af37;
  }
  
  main {
    display: flex;
    max-width: 50%;
    max-height: 50%;
  }

.img-container {
    display: flex;
    height: 100%;
    max-width: 100%;
    outline: 5px double #800000;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

p {
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    padding: 1rem 0;
}

a {
    color: #FFFFFF;
    font-family: 'Press Start 2P', cursive;
}

a:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    color: #00FF00;
    text-decoration: underline;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gods-color:hover {
    color: #00ffff;
    transition: color 0.5s ease;
}

.entertain:hover {
    text-decoration: underline;
    color: #FFFF55;
}
